<h3>Change profile photo</h3>

@using (Html.BeginForm("ChangeProfilePhoto", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                <img style="max-width:200px; max-height:200px" src="@Url.Action("GetProfilePhoto", "Account")"/>
            </li>
            <li>
                <input type="file" name="image" />
            </li>
        </ol>
        <input type="submit" value="Change profile photo" />
    </fieldset>
}
