@model WishlistApp.Models.UserInfoJsonModel

@{
    ViewBag.Title = string.Format("{0}'s Public Wishlists", Model.UserName);
}

<h2>@Model.UserName's Public Wishlists</h2>
<div ng-init="userId=@Model.ID">
    <div ng-controller="viewPublicWishlistsController" ng-cloak>
        <ul>
            <li ng-repeat="wl in Wishlists">
                <div>{{wl.Info.Title}}</div>
                <ul>
                    <li ng-repeat="wli in wl.WishlistItems">
                        <div>{{wli.Content}}</div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

